<anms-orbi-carousel></anms-orbi-carousel>
<!-- <div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'orbi.title' | translate }}</h1>
      <div class="actions">
        <!- - a [ngClass]="routeAnimationsElements"
           mat-raised-button class="actions-main" color="primary" routerLink="../features">
          {{ 'orbi.menu.features' | translate }}
        </a- ->
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples"
           [ngClass]="routeAnimationsElements">
          {{ 'orbi.menu.examples' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings"
           [ngClass]="routeAnimationsElements">
          {{ 'orbi.about.change-theme' | translate }}
        </a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        
      </div>
    </div>
  </div>
</div> -->
<br><br>
<app-about-orbi></app-about-orbi>
<br>
<anms-orbi-portfolio></anms-orbi-portfolio>
<br><br><br>
<anms-orbi-partners></anms-orbi-partners>
<br>
<anms-orbi-team></anms-orbi-team>
