@import '~@angular/material/theming';

@mixin orbi-stock-market-container-component-theme($theme) {
  $warn: map-get($theme, warn);

  orbi-stock-market {
    mat-card {
      .negative {
        color: mat-color($warn);
      }
    }

    .error {
      mat-icon {
        color: mat-color($warn);
      }
    }
  }
}
