.cardBottomGap {
        margin-bottom: 25px;
        
}

.ng-MatCard
{
  
  display: inline-block;
  max-width: 50%;
}
.ng-Container
{
  max-width: 50%;
}
img { width: 350px; height: 350px; object-fit: cover; }   
