$orbi-black-primary: mat-palette($mat-grey, 700, 300, 900);
$orbi-black-accent: mat-palette($mat-blue-grey, 400);
$orbi-black-warn: mat-palette($mat-red, 500);

$orbi-black-theme: mat-dark-theme(
  $orbi-black-primary,
  $orbi-black-accent,
  $orbi-black-warn
);
