<div class="containers">
  <div class="imageCOntainer">
    <img mat-card-image class="Image" src="./assets/imgs/orbi/home/home.jpg" height="830" width="1900">
    <div class="animate one fadeIn" style="margin:-320px -600px;color:white;position: absolute;top: 75%;left: 75%;">
      <h1>ORBI SEEDS INTERNATIONAL</h1>
    </div>
    <div class="button-row1">
    <button mat-flat-button routerLink="/Products" style="background-color: #84d461;" class="Products">Orbi Products Cart</button>
  </div>
  <div class="button-row2">
      <button mat-flat-button routerLink="/Products" style="background-color: #84d461;" class="ProductsCategories" >Products Categories</button>
    </div>
</div>
</div>
