/*=== Trigger  ===*/
.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  /*=== Optional Delays, change values here  ===*/
  .one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
  }
  /*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  
  
.button-row1{
    margin: -200px -50px; 
    position:absolute;
    top:75%; 
    left:75%;
}
.button-row2{
    margin: -200px -50px; 
    position:absolute;
    top:75%;
    right:75%;
}
.Products
{
    border: none;
    color: white;
    padding: 13px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}
.ProductsCategories
{
    border: none;
    color: white;
    padding: 13px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
