<div class="container orbiContainer">
<!-- Features Section -->
<div class="row">
    <div class="col-lg-6 orbiDivText">
      <h2 style="display:inline;">Orbi Seed International</h2> 
      is a company formed by 
      <b [routerLink]="['/person', 'Sanjay Dwivedi']" class="orbiTextLink orbiCursorHand">Dr Sanjay Kumar Dwivedi </b>
      who has been in the Seed Industry for last 22 years with the vast knowledge 
      on seed research, production and marketing in both domestic and International 
      markets around the world. This experience gained in the seed industry will 
      help in narrowing the gap between the seed industry and farming community so 
      Orbi seed International has designed a comprehensive approach of marketing 
      and development which will help the farmers to get best products from all the 
      parts of the world available for him locally.
      <br><br>
      <h5>What we do, for our clients:</h5>
      <ul class="orbiLiStrong">
        <li><a href="javascript:navigateTo('item1')">Research advisories</a></li>
        <li><a (click)="navigateTo('item2')">Product development and trialing</a></li>
        <li><a (click)="navigateTo('item3')">Implementing digital technologies/solutions</a></li>
        <li><a (click)="navigateTo('item4')">Screening for Soil borne diseases</a></li>
        <li><a (click)="navigateTo('item5')">Screening for Viruses</a></li>
        <li><a (click)="navigateTo('item6')">Market introduction and brand promotion</a></li>
      </ul>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="assets/imgs/orbi/orbi_logo.png" style="width:700px; height:350px;" alt="">
    </div>
  </div>
  <!--<hr>
      <h1 class="my-4">Our Team</h1>
      <app-orbi-team></app-orbi-team>
  -->
  <!-- /.row -->
</div>