<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="main-heading">{{ 'orbi.partner.orbiPartners' | translate }}</h1>
      </div>
    </div>
    <div class="row align-items-end">
      <div *ngFor="let prod of partnersList " class="col-md-2 col-lg-4 cardBottomGap" [ngClass]="routeAnimationsElements">
        <mat-card class="PartnersList">
            
              <mat-card-title>{{prod.title}}</mat-card-title>
         
              <img mat-card-image style="height:250px !important;" src="{{getImgPath(prod.logoImg)}}">
              <mat-card-content>{{prod.summary}}</mat-card-content>
              </mat-card>
              </div>
                     
              </div>
              </div>
          